{% if user.is_authenticated %}
     <a href="{% url 'profile' user.username %}">{{ user.username }}</a>
     <a href="{% url 'logout' %}">Abmelden</a>

{% else %}
    <a href="#" id="login-link">Anmelden</a>
    <a href="{% url 'create-user' %}" id="register-link">Registrieren</a>
<div id="login-form" style="display: none;">
    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <label for="username">Benutzername:</label>
        <input type="text" name="username" required>
        <br>
        <label for="password">Passwort:</label>
        <input type="password" name="password" required>
        <br>
        <button type="submit">Anmelden</button>
    </form>
</div>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            // Finde den "Anmelden"-Link und das Anmeldeformular
            const loginLink = document.getElementById('login-link');
            const loginForm = document.getElementById('login-form');

            // Zeige das Anmeldeformular beim Klicken auf den "Anmelden"-Link
            loginLink.addEventListener('click', (event) => {
                event.preventDefault();
                loginForm.style.display = 'block';
            });
        });
    </script>
{% endif %}

